
<!doctype html>

  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">
          <img src= "https://cdn.discordapp.com/attachments/548520166611353602/563141120087949314/flynn.png" width="50" height="30" class="d-inline-block align-top" alt="">Flimsyware</a>
      <span class="navbar-toggler-icon"></span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/"> Home <span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="/login"> Login</a>
          <a class="nav-item nav-link" href="/register"> Register</a>
          <a class="nav-item nav-link disabled" href="/events"> <img src="https://cdn.discordapp.com/attachments/494316263972012044/564851033189384192/KentEvent_logo.png" width="20" height="20" class="d-inline-block align-top" alt="">KentEvent</a>
        </div>
      </div>
    </nav>

{% block content %}{% endblock %}

{% block script %}
<script src="" ></script>
{% endblock %}
