<!-- First thing the user sees-->
{% extends 'base.html' %}

{% block content %}

<img src= "https://cdn.discordapp.com/attachments/494316263972012044/564848633350979589/kenteventTitle2.png" alt="title" class="titlePic">
<div class = "wrap">
<div class = "column">
    <div class = "background">
      <h3><img src="https://cdn.discordapp.com/attachments/494316263972012044/564846685864329237/pins.png" width="15" height="20" class="d-inline-block align-top" alt=""> <b>Meet the Team!</b></h3>
      <p><b>We are Flimsyware! I company comprised of 14 Computer Science students at Kent State University. Our vision is to to unite the campus and help students find their passion. We created KentEvent to bring people closer together and open them up to new safe events on the Kent State Campus.</b></p>
      <img src= "https://cdn.discordapp.com/attachments/494316263972012044/568158514577539102/flynn.png" id = "fish">
    </div>
</div>

<div class = "column">
    <h3><img src ="https://cdn.discordapp.com/attachments/494316263972012044/564846685864329237/pins.png" width="15" height="20" class="d-inline-block align-top" alt=""> <b>Look for Fun Events!</b></h3>
    <p><b>By regsitering and making an account, users will be allow to view events happening on campus! Events are posted by users that are considered to be "Hosts". This students are heads of University sectioned clubs and events to ensure that the events posted are safe.If you belive that you are a Host, make sure that you check the Host box during registeration.</b></p>
</div>
<div class ="column">
    <h3><img src="https://cdn.discordapp.com/attachments/494316263972012044/564846685864329237/pins.png" width="15" height="20" class="d-inline-block align-top" alt=""><b>Make Connections!</b></h3>
    <p><b>Users can search for certian events, and filter for catergories;however, the goal of KentEvent is explore new possibilites! Try something new and meet people that you might not normally interact with. Sign up today!</b></p>
</div>
</div>
{%block script %}
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% block style %}

 <style>
 #fish{
   height:45px;
   width:65px;
   margin-bottom:10px;
 }

 body{
     /*background:#FFFF8B;*/
     background-image: url("https://cdn.discordapp.com/attachments/494316263972012044/564898563696361509/background.png");
 }

 .background{
    z-index:1000;
 }

 .titlePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 130px;
 }


 .wrap{
    text-align: center;
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 20px; 
 }
 
 .column{   
    display: table-cell; 
    border-radius: 25px;
    border:solid black;
    font-family:Roboto;
    font-size: 20px;
    background:rgba(247, 247, 82, 0.63);
    /*filter:blur(5px);*/

    z-index:-1;
 }

 p{
     padding:10px;
 }
 </style>
 {% endblock %}
 {% endblock %}
 {% endblock %}