<!-- This is where the Google map will appear -->
{% extends 'base.html' %}

{% block content %}
<img src="https://cdn.discordapp.com/attachments/494316263972012044/564918483704348683/welcomeBack.png" class="loginTitle">
<div class = "loginModal">
  <div class = "title">
    
  </div>
  <form method = "POST">
    <label for="email">Email</label>
    <input type="text" name = "email"><br>
    <label for="password">Password</label>
    <input type="text" name = "password"><br>
    <input type="submit" value="LogIn">
  </form>
</div>

{%block script %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

{% block style %}
<style>

.loginTitle{
  display:block;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
}

.title{
background:none;
display:block;
border-radius:25px;
height:140px;
}

body{
  background-image: url("https://cdn.discordapp.com/attachments/494316263972012044/564898563696361509/background.png");
}

h1{
  text-align: center;
  margin-bottom: 50px;
  font-family:Roboto;
}

.loginModal{
  display:block;
  height:500px;
  width:500px;
  background:#5CB9DD;
  text-align: center;
  margin:auto;
  border-radius: 25px;
}

input[type=text], input[type=password] {
    text-align:center;
    display: block;
    margin:auto;
    width: 50%; 
    padding: 10px;
    background:purple;

}

label{
  margin: auto;
}

</style>
{% endblock %}
{% endblock %}
{% endblock %}
